.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.login-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-info > *:not(:last-child) {
  margin-right: 20px;
}
