<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input type="text" id="title" placeholder="Input text" formControlName="title"/>
        <span *ngIf="this.title?.errors?.['required'] && (this.isSubmitted || this.title?.touched)" id="titleErrorMessage" class="text-danger">Title is required.</span>
        <span *ngIf="this.title?.errors?.['minlength'] && (this.isSubmitted || this.title?.touched)" id="titleErrorMessage" class="text-danger">Title should be 2 chars min.</span>
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"
          formControlName="description"
        ></textarea>
        <span *ngIf="this.description?.errors?.['required'] && (this.isSubmitted || this.description?.touched)" id="descriptionErrorMessage" class="text-danger">Description is required.</span>
        <span *ngIf="this.description?.errors?.['minlength'] && (this.isSubmitted || this.description?.touched)" id="descriptionErrorMessage" class="text-danger">Description should be 2 chars min.</span>
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `author` for the form control.-->
          <input type="text" id="author" placeholder="Input Author Name" formControlName="author"/>
          <app-button id="createAuthor" [buttonText]="createAuthorButtonText" (clickEvent)="createAuthor()"></app-button>
        </div>
        <span *ngIf="this.author?.errors?.['minlength'] && (this.isSubmitted || this.author?.touched)" id="authorErrorMessage" class="text-danger">New author name should be 2 chars min.</span>
        <span *ngIf="this.author?.errors?.['pattern'] && (this.isSubmitted || this.author?.touched)" id="authorErrorMessage" class="text-danger">New author should contain only latin letters and numbers.</span>
      </div>
        <div class="course__authors" formArrayName="authors">
          <!--Use the name `authors` for the form array.-->
          <div *ngFor="let author of authors.controls" >
            {{ author.value }}
          </div>
        </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input type="number" id="duration" placeholder="Input duration" formControlName="duration"/>
          <div class="course__duration">
            {{ this.duration?.value}}
          </div>
        </div>
        <span *ngIf="this.duration?.errors?.['required'] && (this.isSubmitted || this.duration?.touched)" id="durationErrorMessage" class="text-danger">Duration is required.</span>
        <span *ngIf="this.duration?.errors?.['min'] && (this.isSubmitted || this.duration?.touched)" id="durationErrorMessage" class="text-danger">Duration should be not less than 0.</span>
      </div>
      <div class="form__action">
        <app-button [buttonText]="addCourseButtonText" (clickEvent)="onSubmit()"></app-button>
      </div>
    </div>
  </div>
</form>
